<div class="container">
    <div class="row">
        <div id="header">
            <div class="wrapper">
                <a class="logo" href="h/">
                    <img width="229" height="43" alt="职来职往" src="/Public/images/logo.png">
                </a>
                <ul id="navheader" class="reset">
                    <li><a rel="nofollow" href="/Home/index/index">首页</a></li>
                    <li><a rel="nofollow" href="/Company/index/index">专区主页</a></li>
                    <li><a rel="nofollow" href="/Company/index/companyshow">公司</a></li>
                    <li>
                        <a rel="nofollow" href="/Post/index/cvlist">简历</a>
                    </li>
                    <li><a rel="nofollow" href="/Cominfo/index/index">职位</a></li>
                </ul>
            </div>
            <div class="col-md-1 col-md-offset-2"> <a href="/Company/index/logout" class="text-danger btn btn-danger">企业用户登出</a></div>
        </div>
    </div>
</div>