<div class="container" id="container">
    <div class="row col-md-6 col-md-offset-3" id="top">
        <div class="col-md-3">
            <img src="/Public/images/logo.png" title="企业logo">
        </div>
        <div class="col-md-8 col-md-offset-1">
            <a href="/Home/index/index" class="col-md-6 col-md-offset-4">
                <img border="0" width="400" height="55" title="职来职往主页" src="http://img2.goodjobs.cn/files/53055_58.gif">
            </a>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="nav">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/Home/Index/index">首页</a></li>
            <li><a href="/CV/Index/index">专区首页</a></li>
            <li><a href="/CV/Index/showcv">我的简历</a></li>
            <li><a href="/CV/Index/editcv">更新简历</a></li>
        </ul>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="body">
        <div class="col-md-4" id="body_left">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">简历向导</a>
                    <ul class="dropdown-menu">
                        <li><a href="/CV/Index/BasicEdit">基本信息</a></li>
                        <li><a href="/Job/Index/jobEditList">求职意向</a></li>
                        <li><a href="/Edu/Index/eduEditList">教育经历</a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">求职管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/User/index/postRecords">简历投递记录</a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">个人中心</a>
                    <ul class="dropdown-menu">
                        <li><a href="/CV/Index/help">在线帮助</a></li>
                        <li><a href="/User/index/logout">退出账户</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1" id="body_right">
            <table class="table table-bordered table-condensed table-striped text-center">
                <caption><h3>教育经历</h3></caption>
                <tr>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>学校</th>
                    <th>学位</th>
                    <th colspan="2">操作</th>
                </tr>
                <foreach name="edu_list" item="edu">
                    <tr>
                        <td>{$edu.fromdate}</td>
                        <td>{$edu.todate}</td>
                        <td>{$edu.school}</td>
                        <td>{$edu.name}</td>
                        <td><a href="/Edu/Index/deleteEdu/id/{$edu.id}">删除</a></td>
                        <td><a href="/Edu/Index/eduEdit/id/{$edu.id}/cv_id/{$edu.cv_id}">修改</a></td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div class="row col-md-8 col-md-offset-2"></div>
        <div class="row col-md-8 col-md-offset-2" id="bottom">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li>服务热线</li>
                    <li>
                        <ul class="list-unstyled">
                            <li>总机：0551-63400800</li>
                            <li>企业：0551-65666555</li>
                            <li>个人：0551-65666558</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li>关于我们</li>
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="http://www.goodjobs.cn/about/index.html">公司简介</a></li>
                            <li><a href="http://www.goodjobs.cn/about/copyright.html">声明顾问</a></li>
                            <li><a href="http://www.goodjobs.cn/sitemap.html">站点地图</a></li>
                            <li><a href="http://feedback.goodjobs.cn/">意见反馈</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li>产品</li>
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="/Home/index/index">企业招聘</a></li>
                            <li><a href="http://learning.goodjobs.cn/">个人培训</a></li>
                            <li><a href="http://www.goodjobs.cn/about/price.html">服务报价</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <strong>关注微信</strong>
                    <img src="http://www.goodjobs.cn/images/wx.png" title="微信"/>
                </ul>
            </div>
        </div>
    </div>