<div class="container" id="container">
    <div class="row col-md-6 col-md-offset-3" id="top">
        <div class="col-md-3">
            <img src="/Public/images/logo.png" title="企业logo">
        </div>
        <div class="col-md-8 col-md-offset-1">
            <a href="/Home/index/index" class="col-md-6 col-md-offset-4">
                <img border="0" width="400" height="55" title="职来职往主页" src="http://img2.goodjobs.cn/files/53055_58.gif">
            </a>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="nav">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/Home/Index/index">首页</a></li>
            <li><a href="/CV/Index/index">专区首页</a></li>
            <li><a href="/CV/Index/showcv">我的简历</a></li>
            <li><a href="">求职管理</a></li>
            <li><a href="/CV/Index/editcv">更新简历</a></li>
        </ul>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="body">
        <div class="col-md-4" id="body_left">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">简历向导</a>
                    <ul class="dropdown-menu">
                        <li><a href="/CV/Index/BasicEdit">基本信息</a></li>
                        <li><a href="/Job/Index/jobEditList">求职意向</a></li>
                        <li><a href="/Edu/Index/eduEditList">教育经历</a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">求职管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/UserPost/index/userPostShow">简历投递记录</a></li>
                        <li><a href="#">企业关注</a></li>
                        <li><a href="#">回收站</a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">个人中心</a>
                    <ul class="dropdown-menu">
                        <li><a href="/CV/Index/help">在线帮助</a></li>
                        <li><a href="#">退出账户</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1" id="body_right">
            <h4>教育经历</h4>

            <div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form class="form-horizontal" enctype="multipart/form-data" method="post"
                              action="/Edu/Index/eduEditSave" id="cvexperienceform">
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="hidden" class="form-control" name="cv_id" value="{$cv_id}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="hidden" class="form-control" name="id" value="{$edu[0].id}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="fromdate">开始日期:</label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="text" class="form-control" name="fromdate" id="fromdate"
                                           value="{$edu[0].fromdate}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="todate">结束日期:</label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="text" class="form-control" name="todate" id="todate"
                                           value="{$edu[0].todate}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="school">学校:</label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="text" class="form-control" name="school" id="school"
                                           value="{$edu[0].school}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">学历:</label>

                                <div class="col-md-7 col-md-offset-2">
                                    <select name="degree_id" class="form-control">
                                        <option value="">请选择</option>
                                        <foreach name="degree_list" item="degree">
                                            <eq name="edu[0].degree_id" value="$degree.id">
                                                <option value=" {$degree.id}" selected="selected">{$degree.name}
                                                </option>
                                                </option>
                                                <else/>
                                                <option value=" {$degree.id}">{$degree.name}</option>
                                            </eq>

                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3"></label>

                                <div class="col-md-7 col-md-offset-2">
                                    <input type="submit" class="btn btn-primary col-md-5" value="修改"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-2"></div>
    <div class="row col-md-8 col-md-offset-2" id="bottom">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>服务热线</li>
                <li>
                    <ul class="list-unstyled">
                        <li>总机：0551-63400800</li>
                        <li>企业：0551-65666555</li>
                        <li>个人：0551-65666558</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>关于我们</li>
                <li>
                    <ul class="list-unstyled">
                        <li><a href="http://www.goodjobs.cn/about/index.html">公司简介</a></li>
                        <li><a href="http://www.goodjobs.cn/about/copyright.html">声明顾问</a></li>
                        <li><a href="http://www.goodjobs.cn/sitemap.html">站点地图</a></li>
                        <li><a href="http://feedback.goodjobs.cn/">意见反馈</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>产品</li>
                <li>
                    <ul class="list-unstyled">
                        <li><a href="/Home/index/index">企业招聘</a></li>
                        <li><a href="http://learning.goodjobs.cn/">个人培训</a></li>
                        <li><a href="http://www.goodjobs.cn/about/price.html">服务报价</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <strong>关注微信</strong>
                <img src="http://www.goodjobs.cn/images/wx.png" title="微信"/>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    /**
     * 使用datetimepicker插件
     */
    $('#fromdate').datetimepicker({
        dayOfWeekStart: 1,
        timepicker: false,
        format: 'Y-m-d'
    });
    $('#todate').datetimepicker({
        dayOfWeekStart: 1,
        timepicker: false,
        format: 'Y-m-d'
    });
    /**
     * 设置中文显示
     */
    $.datetimepicker.setLocale('zh');
</script>