<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="Public/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>
<body style="overflow-x: hidden">
  <div><img src="/Public/images/Q.png" height="95px"></div>
      <div style="background-color:blue;width: 1420px;font-size:30px;font-weight:bold;text-align: center;letter-spacing: 10px;"><a href="/CV/Index/help"><span style="color:white">个人简历制作</span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#b"><span style="color:white">职位搜索</span></a>&nbsp;&nbsp;   &nbsp;&nbsp;<a href="#c"><samp style="color:white">个人中心</samp></a></div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-3"><h3 class="text-center"><a href="">个人简历制作</a></h3>

         <p><h4>基本资料填写</h4></p></div>
            <div class="col-md-6 col-md-offset-3"><p>个人会员主要对基本信息、联系方式、求职意向三部分进行填写和信息选填，如无其他工作经验或无其他信息完善的即可在此项完成后应聘职位。如下：</p><img src="/Public/images/resume_ziliao.jpg"/></div>
    </div>

      <div style="position:relative;left:300px;"><p><h4>联系方式</h4></p></div>
        <div class="col-md-6 col-md-offset-3"><p>“联系方式”的填写，请按页面上的提示准确填写，以保证求职工作的顺利进行，所有带“*” 标识为必须填写的内容。如下：</p>
            <img src="/Public/images/lianxifangshi.jpg">

    <div class="row">
        <div class="col-md-3"><h3 class="text-center"><a id="b">职位搜索</a></h3>
        <div><p><h4>快速搜索</h4></P></div></div>
            <div class="row">
            <div class="col-md-12"><p> 快速搜索里新增加了按职位名和公司名全新的搜索新模式，便于求职者更好利用好搜索，并快速找到自己心仪的职位 。如下：</p></div>
            <img src="/Public/images/search_sousu.jpg"></div>
        <div class="row">
            <div><p><h4>详细搜索</h4></P></div></div>

        <div class="col-md-12"><p> 添加了“个人搜索器”功能，即求职者可依据自己常使用的搜索条件，设置自己的所需的月薪范围、学历要求、公司和职位关键字及其个人搜索器名称并进行保存下来，以便下次方便查询。如下：</p>
            <img src="/Public/images/xiangxi.jpg"/>
        </div>

    <div class="row">
        <div class="col-md-5"><h3 class="text-center"><a id="c">个人中心</a></h3>
            <div class="row">
        <h4>修改密码</h4>
           <p>求职者可自行修改自己密码。如下：</p></div>
        <img src="/Public/images/password_mima.jpg"></div>
    </div>
</body>
</html>