<div class="container">
    <div class="row">
        <div class="headerBar">
            <div class="topBar">
                <div class="contain">
                    <div class="leftArea">
                        <a href="#" class="collection">欢迎来到职来职网</a>
                        <div class="rightArea">
                            <a href="#">&nbsp; [登陆]</a>
                            <a href="#">&nbsp; [免费注册]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logBar">
                <div class="contain">
                    <div class="log">
                        <a href="#"><img src="/Public/images/logo.png" alt="职来职往"/></a>
                    </div>
                    <div class="rightBanner">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="#">找工作</a></li>
                            <li><a href="#">专场</a></li>
                        </ul>
                    </div>
                    <div class="loginRight">
                        <img src="/Public/images/qiuzhizhelogo.jpg"/>
                        <span><a href="/User/index/login">求职者登录 </a></span>
                        <img src="/Public/images/zhongjianshu.jpg"/>
                        <img src="/Public/images/qiyelogo.jpg"/>
                        <span><a href="/Company/index/login">企业登录</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
