<div class="headerBar">
    <div class="topBar">
        <div class="">
            <div class="leftArea">
                <a href="/Home/index/index" class="collection">职来职往</a>

                <div class="rightTop">
                    <a href="/User/index/login">登录&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                    <a href="/User/index/register">注册</a>
                </div>
            </div>
            <div class="rightArea">
                <eq name="mark" value="user">
                    <span class="text-danger btn btn-danger"><a href="/User/index/logout">应聘者登出</a></span>
                </eq>
                <eq name="mark" value="company">
                    <a href="/Company/index/logout" class="text-danger btn btn-danger">企业用户登出</a>
                </eq>
            </div>
        </div>
    </div>
    <div class="logBar">
        <div class="contain">
            <div class="log">
                <a href="#"><img src="/Public/images/logo.png" alt="职来职往"/></a>
            </div>
            <div class="rightBanner">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">首页</a></li>
                    <eq name="mark" value="user">
                        <li><a href="/CV/index/index">找工作专区</a></li>
                    </eq>
                    <eq name="mark" value="company">
                        <li><a href="/Company/index/index">找人才专区</a></li>
                    </eq>
                    <eq name="mark" value="">
                        <li><a href="/User/index/login">找工作专区</a></li>
                        <li><a href="/Company/index/login">找人才专区</a></li>
                    </eq>
                </ul>
            </div>
            <div class="loginRight">
                <!-- 采用eq进行比较-->
                <eq name="username" value="">
                    <img src="/Public/images/qiuzhizhelogo.jpg"/>
                    <span><a href="/User/index/login">求职者登录 </a></span>
                    <img src="/Public/images/zhongjianshu.jpg"/>
                    <img src="/Public/images/qiyelogo.jpg"/>
                    <span><a href="/Company/index/login">企业登录</a></span>
                    <else/>
                    <span>{$username}用户，职来职往欢迎您！</span>
                </eq>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="leftcent" >
                <div id="sidebar">
                    <div class="mainNavs">
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>技术 <span></span></h2>
                                <a href="#">Java</a>
                                <a href="#">PHP</a>
                                <a href="#">C++</a>
                                <a href="#">Android</a>
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>产品 <span></span></h2>
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>设计 <span></span></h2>
                                <a href="">UI</a>
                                <a href="">UE</a>
                                <a href="">设计师</a>
                                <a href="">交互设计</a>
                                <a href="">数据分析</a>
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>运营 <span></span></h2>
                                <a href="">运营</a>
                                <a href="">游戏运营</a>
                                <a href="">编辑</a>
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>市场与销售 <span></span></h2>
                                <a href="">市场推广</a>
                                <a href="">市场策划</a>
                                <a href="">活动策划</a>
                                <a href="">BD</a>
                                <a href="">销售经理</a>
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="menu_main">
                                <h2>职能 <span></span></h2>
                                <a href="">HR</a>
                                <a href="">行政</a>
                                <a href="">会计</a>
                                <a href="">出纳</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="sliderContainer">
                <div id="prev" class="arrow"></div>
                <div id="slider">
                    <div class="slide">
                        <img src="/Public/images/中国移动.jpg"></div>
                    <div class="slide">
                        <img src="/Public/images/实习.jpg"></div>
                    <div class="slide">
                        <img src="/Public/images/聚美.jpg"></div>
                </div>
                <div id="pagination"></div>
                <div id="next" class="arrow"></div>
            </div>
            <div class="bottomcenter">
                <img src="/Public/images/pig1.png">
                <img src="/Public/images/pig2.png"/>
                <img src="/Public/images/pig3.png"/>
                <img src="/Public/images/pig4.png"/>
                <img src="/Public/images/pig6.png"/>
                <img src="/Public/images/pig5.png"/>
            </div>
            <div id="search_box">
                <form id="searchForm" name="searchForm" action="list.html" method="get">
                    <input type="text" id="search_input" name="kd" tabindex="1" value="" placeholder="请输入职位名称或公司名称"/>
                    <input type="submit" id="search_button" value="搜索"/>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="fontclass">
            <span>名企招聘</span>
        </div>
    </div>
        <div class="col-md-12">
            <div id="hotList">
                <ul class="hot_pos reset">
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="#" target="_blank">运营总监</a>
                            </div>
                            <span><em class="c7">月薪： </em>15k-20k</span>
                            <span><em class="c7">经验：</em> 3-5年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>发展前景</span>
                            <br/>
                            <span>1天前发布</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="h/c/399.html" target="_blank">节操精选</a></div>
                            <span><em class="c7">领域：</em> 移动互联网</span>
                            <span><em class="c7">创始人：</em>陈桦</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(天使轮)</span>
                            <span><em class="c7">规模：</em>少于15人</span>
                            <ul class="companyTags reset">
                                <li>移动互联网</li>
                                <li>五险一金</li>
                                <li>扁平管理</li>
                            </ul>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="h/c/399.html" target="_blank">节操精选</a></div>
                            <span><em class="c7">领域：</em> 移动互联网</span>
                            <span><em class="c7">创始人：</em>陈桦</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(天使轮)</span>
                            <span><em class="c7">规模：</em>少于15人</span>
                            <ul class="companyTags reset">
                                <li>移动互联网</li>
                                <li>五险一金</li>
                                <li>扁平管理</li>
                            </ul>
                        </div>
                    </li>


                    <a href="list.html" class="btn fr" target="_blank">查看更多</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div id="linkbox">
                <dl>
                    <dt>友情链接</dt>
                    <dd>
                        <a href="http://www.zhuqu.com/" target="_blank">住趣家居网</a> <span>|</span>
                        <a href="http://www.woshipm.com/" target="_blank">人人都是产品经理</a> <span>|</span>
                        <a href="http://zaodula.com/" target="_blank">互联网er的早读课</a> <span>|</span>
                        <a href="http://lieyunwang.com/" target="_blank">猎云网</a> <span>|</span>
                        <a href="http://www.ucloud.cn/" target="_blank">UCloud</a> <span>|</span>
                        <a href="http://www.iconfans.com/" target="_blank">iconfans</a> <span>|</span>
                        <a href="http://www.html5dw.com/" target="_blank">html5梦工厂</a> <span>|</span>
                        <a href="http://www.sykong.com/" target="_blank">手游那点事</a>

                        <a href="http://www.mycodes.net/" target="_blank">源码之家</a> <span>|</span>
                        <a href="http://www.uehtml.com/" target="_blank">uehtml</a> <span>|</span>
                        <a href="http://www.w3cplus.com/" target="_blank">W3CPlus</a> <span>|</span>
                        <a href="http://www.boxui.com/" target="_blank">盒子UI</a> <span>|</span>
                        <a href="http://www.uimaker.com/" target="_blank">uimaker</a> <span>|</span>
                        <a href="http://www.yixieshi.com/" target="_blank">互联网的一些事</a> <span>|</span>
                        <a href="http://www.chuanke.com/" target="_blank">传课网</a> <span>|</span>
                        <a href="http://www.eoe.cn/" target="_blank">安卓开发</a> <span>|</span>
                        <a href="http://www.eoeandroid.com/" target="_blank">安卓开发论坛</a>
                        <a href="http://hao.360.cn/" target="_blank">360安全网址导航</a> <span>|</span>
                        <a href="http://se.360.cn/" target="_blank">360安全浏览器</a> <span>|</span>
                        <a href="http://www.hao123.com/" target="_blank">hao123上网导航</a> <span>|</span>
                        <a href="http://www.ycpai.com" target="_blank">互联网创业</a><span>|</span>
                        <a href="http://www.zhongchou.cn" target="_blank">众筹网</a><span>|</span>
                        <a href="http://www.marklol.com/" target="_blank">马克互联网</a><span>|</span>
                        <a href="http://www.chaohuhr.com/" target="_blank">巢湖英才网</a>

                        <a href="http://www.zhubajie.com/" target="_blank">创意服务外包</a><span>|</span>
                        <a href="http://www.thinkphp.cn/" target="_blank">thinkphp</a><span>|</span>
                        <a href="http://www.chuangxinpai.com/" target="_blank">创新派</a><span>|</span>

                        <a href="http://w3cshare.com/" target="_blank">W3Cshare</a><span>|</span>
                        <a href="http://www.518lunwen.cn/" target="_blank">论文发表网</a><span>|</span>
                        <a href="http://www.199it.com" target="_blank">199it</a><span>|</span>

                        <a href="http://www.shichangbu.com" target="_blank">市场部网</a><span>|</span>
                        <a href="http://www.meitu.com/" target="_blank">美图公司</a><span>|</span>
                        <a href="https://www.teambition.com/" target="_blank">Teambition</a>
                        <a href="http://oupeng.com/" target="_blank">欧朋浏览器</a><span>|</span>
                        <a href="http://iwebad.com/" target="_blank">网络广告人社区</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="col-md-8 ewm">
                <img src="/Public/images/phone.png"/>
                <span>职来职往，前途宽广</span>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="http://weibo.com/chencui199282/home?wvr=5&lf=reg" target="_blank" rel="nofollow">职来职往微博</a>
            </div>
            <div class="col-md-2 ewm">
                <img src="/Public/images/erwenma.jpg"/>
            </div>
        </div>
    </div>
</div>
<div style="border-bottom: 1px solid #ECECED; border-top: 1px solid #ECECED">
    <div class="footer_down">
        版权归职来职往所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：php六人组
    </div>
</div>



