<div class="container">
    <div class="row">
        <div class="headerBar">
            <div class="topBar">
                <div class="contain">
                    <div class="leftArea">
                        <a href="#" class="collection"><h4>职来职往</h4></a>
                    </div>
                    <div class="rightArea">
                        <eq name="mark" value="user">
                            <span class="text-danger btn btn-danger"><a href="/User/index/logout">应聘者登出</a></span>
                        </eq>
                        <eq name="mark" value="company">
                            <a href="/Company/index/logout" class="text-danger btn btn-danger">企业用户登出</a>
                        </eq>
                    </div>
                </div>
            </div>
            <div class="logBar">
                <div class="contain">
                    <div class="log">
                        <a href="#"><img src="/Public/images/logo.png" alt="职来职往"/></a>
                    </div>
                    <div class="rightBanner">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">首页</a></li>
                            <eq name="mark" value="user">
                                <li><a href="/CV/index/index">找工作专区</a></li>
                            </eq>
                            <eq name="mark" value="company">
                                <li><a href="/Company/index/index">找人才专区</a></li>
                            </eq>
                            <eq name="mark" value="">
                                <li><a href="/User/index/login">找工作专区</a></li>
                                <li><a href="/Company/index/login">找人才专区</a></li>
                            </eq>
                        </ul>
                    </div>
                    <div class="loginRight">
                        <!-- 采用eq进行比较-->
                        <eq name="username" value="">
                            <img src="/Public/images/qiuzhizhelogo.jpg"/>
                            <span><a href="/User/index/login">求职者登录 </a></span>
                            <img src="/Public/images/zhongjianshu.jpg"/>
                            <img src="/Public/images/qiyelogo.jpg"/>
                            <span><a href="/Company/index/login">企业登录</a></span>
                            <else/>
                            <span>{$username}用户，职来职往欢迎您！</span>
                        </eq>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
