<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB_NAME</title>
    <link href="/Public/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
    <link href="/Public/css/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/Public/css/homestyle.css" rel="stylesheet" type="text/css"/>
    <script src="/Public/js/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="/Public/css/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="/Public/css/cvindex.css" rel="stylesheet" type="text/css"/>
    <script src="/Public/js/datetimepicker/build/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
    <!--Bootstrap Validator表单验证-->
    <script src="/Public/js/bootstrap-validator/dist/validator.min.js" type="text/javascript"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>