#center,#register_top,#login_top{
    background-color: white;
}

#loginform {
    padding-top: 20px;
}
#logo{
    background-image: url("/Public/images/logo.png");
    background-repeat: no-repeat;
    display: block;
    height: 57px;
    width: 350px;
}
.log{
    margin-top: 162px;
}
.form-group{
    margin-top: 30px;
    margin-right: 5px;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: 46px;
}

.text-center{
    text-align: center;
   font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå", Arial;

}