<body style="background-color: #00B38A">
<div id="login_bg" >
    <div class="login_wrapper">
        <div class="login_header">
            <img src="/Public/images/logologin.png" width="285" height="62"/>

            <div id="cloud_s"><img src="/Public/images/cloud_s.png" width="81" height="52" alt="cloud"/></div>
            <div id="cloud_m"><img src="/Public/images/cloud_m.png" width="136" height="95" alt="cloud"/></div>
        </div>

        <input type="hidden" id="resubmitToken" value=""/>

        <div class="login_box">
            <form id="loginForm" action="/User/index/logincheck" class="form-horizontal" role="form" data-toggle="validator" method="post">
                <input style="color: #777" type="text" name="username" id="username" placeholder="用户名/邮箱/手机"
                       data-error="用户名不能为空！" required tabindex="1"/>
                <input type="password" name="password" id="password" placeholder="密码"
                       data-error="密码不能为空" required tabindex="2"/>
                <input style="color: #777" class="form-control col-md-8" type="text" name="yzm" id="yzm"
                       placeholder="验证码" data-error="验证码不能为空！" required/>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <img style="display: block; float: right;" src="/User/Index/yzm" title="验证码" width="156px" height="35px"
                     onclick="this.src='/User/Index/yzm/' + Math.random()"/>

                <!--<input type="submit" id="submitLogin" value="登 &nbsp; &nbsp; 录" />-->
                <button style="color:#fff;" href="index.html" class="submitLogin" title="登 &nbsp; &nbsp; 录"/>登 &nbsp; &nbsp;
                录</button>


            </form>
            <div class="login_right">
                <div>还没有帐号？</div>
                <a href="/User/index/register" class="registor_now">立即注册</a>

            </div>
        </div>
        <div class="login_box_btm"></div>
    </div>
</div>
<!--表单验证-->
<script type="text/javascript">
    $(function () {
        //验证表单
        $("#loginForm").validate({
            /* onkeyup: false,
             focusCleanup:true, */
            rules: {
                username: {
                    required: true,
                    username: true
                },
                password: {
                    required: true
                },
                yzm: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名",
                },
                password: {
                    required: "请输入密码"
                },
                yzm: {
                    required: "请输入验证码"
                }
            },
        });
    })
    $('#loginform').validator();
</script>
</body>



