<div class="container" id="container">
    <div class="row col-md-6 col-md-offset-3" id="top">
        <div class="col-md-3">
            <img src="/Public/images/logo.png" title="企业logo">
        </div>
        <div class="col-md-8 col-md-offset-1">
            <a href="/Home/index/index" class="col-md-6 col-md-offset-4">
                <img border="0" width="400" height="55" title="职来职往主页" src="http://img2.goodjobs.cn/files/53055_58.gif">
            </a>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="nav">
        <ul class="nav nav-pills nav-justified">
            <li><a href="/Home/Index/index">首页</a></li>
            <li><a href="/CV/Index/index">专区首页</a></li>
            <li><a href="/CV/Index/showcv">我的简历</a></li>
            <li><a href="/CV/Index/editcv">更新简历</a></li>
        </ul>
    </div>
    <div class="row col-md-8 col-md-offset-2" id="body">
        <div class="row">

        </div>
        <div class="row">
            <table class="table table-bordered table-condensed table-striped text-center">
                <caption><h3>企业信息</h3></caption>
                <tr>
                    <th>企业名称</th>
                    <th>行业</th>
                    <th>公司性质</th>
                    <th>注册资金</th>
                    <th>企业人数</th>
                    <th>企业执业证</th>
                    <th>企业所在地省</th>
                    <th>企业所在地市</th>
                    <th>地址</th>
                    <th>邮编</th>
                    <th>更新时间</th>
                </tr>
                <foreach name="company_list" item="company">
                    <tr>
                        <td>{$company.companyname}</td>
                        <td>{$company.industry_name}</td>
                        <td>{$company.companytype_name}</td>
                        <td>{$company.registercash}</td>
                        <td>{$company.people}</td>
                        <td>{$company.cetificate}</td>
                        <td>{$company.province_name}</td>
                        <td>{$company.city_name}</td>
                        <td>{$company.address}</td>
                        <td>{$company.zidcode}</td>
                        <td>{$company.updated_at}</td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered table-condensed table-striped text-center">
                <caption><h3>职位信息</h3></caption>
                <tr>
                    <td>职位</td>
                    <th>招聘人数</th>
                    <th>年龄</th>
                    <th>月薪</th>
                    <th>是否提供住房</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>企业网址</th>
                </tr>
                <foreach name="post_list" item="post">
                    <tr>
                        <td>{$post.name}</td>
                        <td>{$post.peoplenumber}</td>
                        <td>{$post.birthday}</td>
                        <td>{$post.cash}</td>
                        <eq name="$post.house" value="y">
                            <td>提供住房</td>
                            <else/>
                            <td>不提供住房</td>
                        </eq>
                        <td>{$post.contact}</td>
                        <td>{$post.mobile}</td>
                        <td><a href="{$post.netaddress}">{$post.netaddress}</a></td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div class="row">
            <a href="/UserPost/index/userPostAdd/post_id/{$post_id}" class="btn btn-primary col-md-3 col-md-offset-7">投递简历</a>
        </div>
    </div>
    <div class="row col-md-8 col-md-offset-2"></div>
    <div class="row col-md-8 col-md-offset-2" id="bottom">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>服务热线</li>
                <li>
                    <ul class="list-unstyled">
                        <li>总机：0551-63400800</li>
                        <li>企业：0551-65666555</li>
                        <li>个人：0551-65666558</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>关于我们</li>
                <li>
                    <ul class="list-unstyled">
                        <li><a href="http://www.goodjobs.cn/about/index.html">公司简介</a></li>
                        <li><a href="http://www.goodjobs.cn/about/copyright.html">声明顾问</a></li>
                        <li><a href="http://www.goodjobs.cn/sitemap.html">站点地图</a></li>
                        <li><a href="http://feedback.goodjobs.cn/">意见反馈</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>产品</li>
                <li>
                    <ul class="list-unstyled">
                        <li><a href="/Home/index/index">企业招聘</a></li>
                        <li><a href="http://learning.goodjobs.cn/">个人培训</a></li>
                        <li><a href="http://www.goodjobs.cn/about/price.html">服务报价</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <strong>关注微信</strong>
                <img src="http://www.goodjobs.cn/images/wx.png" title="微信"/>
            </ul>
        </div>
    </div>
</div>