<body style="background-color:  #00B38A">
<div class="container col-md-8 col-md-offset-2" id="body">
    <div class="row log">
        <div class="col-md-7"><img src="/Public/images/logologin.png"/></div>

        <div class="col-md-5"><img src="/Public/images/cloud_s.png" width="81" height="52" alt="cloud"/>
            <img src="/Public/images/cloud_m.png" width="136" height="95" alt="cloud"/></div>

    </div>

    <div class="row" id="top">
        <h3 class="text-center">用户注册</h3>
    </div>
    <div class="row" id="content">
        <div class="col-md-3" id="left">
        </div>
        <div class="col-md-6 table-bordered" id="center">
            <form class="form-horizontal" role="form" data-toggle="validator" method="post"
                  action="/User/index/registerSave" id="registerform">
                <div class="form-group  has-feedback">
                    <label class="control-label col-md-2 col-md-offset-1" for="username">用户名</label>

                    <div class="col-md-9">
                        <input class="form-control" type="text" name="username" id="username" placeholder="用户名"
                               data-error="用户名不能为空！" required/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 col-md-offset-1" for="password">密码</label>

                    <div class="col-md-9">
                        <input class="form-control" type="password" name="password" id="password" placeholder="密码"
                               data-error="密码不能为空" required/>

                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-3" for="repassword">确认密码</label>

                    <div class="col-md-9">
                        <input class="form-control" type="password" name="repassword" id="repassword"
                               placeholder="确认密码" data-match="#password" data-match-error="两次输入的密码不匹配"
                               data-error="密码不能为空" required/>

                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 col-md-offset-1" for="email">邮箱</label>

                    <div class="col-md-9">
                        <input class="form-control" type="email" name="email" id="email" placeholder="邮箱"
                               data-error="邮箱不能为空" required/>

                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 col-md-offset-1" for="mobile">手机</label>

                    <div class="col-md-9">
                        <input class="form-control" type="tel" name="mobile" id="mobile" placeholder="手机号码"
                               pattern="^1[3-8][0-9]{9}$" data-error="手机号码不能为空" required/>

                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3"></label>

                    <div class="col-md-7">
                        <input class="col-md-12 btn btn-primary" type="submit" name="register" value="立即注册"/>
                        已有找号请<span><a href="/User/index/login">登录</a></span>
                    </div>
                </div>
            </form>
            <div>
                <div class="form-group">
                    <label class="col-md-4"></label>

                    <div class="col-md-8">
                        <?php
                        if(isset($_SESSION['error_msg'])) {
                            ?>
                        <span class="text-danger"><?php echo $_SESSION['error_msg'];?></span>
                        <?php
                            unset($_SESSION['error_msg']);
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="right">

        </div>
    </div>
</div>
<!--表单验证-->
<script type="text/javascript">
    $('#registerform').validator();

</script>
</body>
